body {
	font-family: 'Open Sans', 'Arial', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.content {
	/*
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 10vw;
	*/
}

.content, .event {
	position: absolute;
	width: 100%;
	text-align: center;
}

#header {
	top: 10vh;
}

.event {
	top: 20vh;
}

#reloadButton {
	position: absolute;
	bottom: 10vh;
}

.footer {
	text-align: right;
}

.event-text {
	margin-bottom: 10px;
}

.event-date {
	margin-top: 0;
	color: #545454;
}

.toFade {
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
    /*opacity: 1;*/
}

.faded-out {
    /*opacity: 0;*/
}

.slide-down {
	transform: translateY(10%);
	-webkit-transform: translateY(10%);
}

.slide-up {
	transform: translateY(-10%);
	-webkit-transform: translateY(-10%);
}

.toSlideBack {
	transition: transform 1s 0.5s;
	-webkit-transition: transform 1s 0.5s;
}

